.primary {
color: cornsilk
}


.logout { 
    position:absolute; top: 650px;  left: 360px; z-index: 20;
 
}


#StDefimg{
    position:absolute; top: 215px;  right: 70px; z-index: 50 ;
    width: 75px;
} 

