.primary {
color: cornsilk
}


.logout { 
    position:absolute; top: 690px;  left: 350px; z-index: 20;
 
}


#StDefimg{
    position:absolute; top: 140px;  right: 70px; z-index: 50 ;
    width: 75px;
} 

.imagePreview{
    position:absolute; top: 155px;  right: 70px; z-index: 90 ;
    width: 75px;
}

.CatSelect{
    position:absolute; top: -170px;  left: 80px; z-index: 80 ;
    width: 75px;
}





#imageInput{
    position:absolute; top: 260px;  left: 5px; z-index: 80 ;
    width: 750px;
}