.primary {
color: cornsilk
}


.logout { 
    position:absolute; top: 660px;  left: 270px; z-index: 20;
 
}


#StDefimg{
    position:absolute; top: 295px;  right: 70px; z-index: 50 ;
    width: 75px;
} 

.imagePreview{


    position:absolute; top: 300px;  right: 70px; z-index: 50 ;
    width: 75px;

}