
.User h1{
    position:absolute; top: 90px; height: 20px; left: 180px; z-index: 80;
    color: rgb(0, 0, 0);
    font-size: 2em;

}



.aboutHomeLink{
    position:absolute; top: 400px;  left: 280px; z-index: 20;
}


.deleteAccount{
    position:absolute; top: 500px;  left: 250px; z-index: 20;
}

.user_stories {
    position:absolute; left:60px; top: 360px; z-index: 70;
    overflow-y: scroll; height: 190px; width: 70px;
    overflow-x: hidden; width: 120px;
}


.User_Stories h1 {
    position:absolute; right:470px; top: 140px; z-index: 90;
height: 90px;
width: 50px;
    font-size:  2em;
    transform: rotateX(50deg) rotateY(45deg);
color: rgb(0, 0, 0)
}


.user_stories img{
    position:relative; right:30px; top: 0px; z-index: 70;
    -moz-box-shadow:-10px 5px 5px rgba(0,0,0,0.3);
-webkit-box-shadow:-10px 5px 5px rgba(0,0,0,0.3);
box-shadow:-10px 5px 5px rgba(0,0,0,0.3);
    width: 60px;
    margin:0 0 15px 0;
}
