.ScriptHeader{
    position:absolute; top: 150px;  left: 465px; z-index: 80;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    perspective: 229px;
    transform: rotateX(-60deg) rotateY(40deg);
    
   
}



.story_texts_cover{
    position:relative; top: -440px;  left: 250px; z-index: 80 ;
    padding: 0px 0px 0px 0px;
    height: 600px;
}


.user_story_cover{

    position:relative; top: 150px;  right: 220px; z-index: 70 ;
    padding: 0px 0px 0px 0px;
    height: 600px;

}

 .homeLink{
      position:absolute; top: 690px;  right: 330px; z-index: 50 ;
    width: 100px;
    color: rgb(0, 0, 0);
    }
    



.StoryTextList {
    position:absolute; left:415px; top: 320px; z-index: 80;
    width: 100px;
    color: rgb(0, 0, 0);
    font-size: .7em;
    transform: rotateX(0deg) rotateY(336deg);
    overflow-y: scroll; height: 300px; width: 130px;
    overflow-x: hidden;
    justify-content: center;
}

.imageLilst{
    position:relative; left:0px; top: 200px; z-index: 80;
    width: 40px;
    margin:0 0 25px 0;
    justify-content: center;
    -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    
}



.Edit {
    position:absolute; top: 593px;  right: 290px; z-index: 30 ;
    -webkit-box-reflect: below -5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));  
    width: 150px;
}



.Edit:hover  {
    transform: scale(1.2);
}


.Create {
    position:absolute; top: 600px;  right: 217px; z-index: 40 ;
    -webkit-box-reflect: below -63px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));  
    width: 140px;
}

.Create:hover  {
    transform: scale(1.5);
}

.Delete {
    position:absolute; top: 600px;  right: 145px; z-index: 30 ;
    -webkit-box-reflect: below -10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));  
    width: 120px;
}

.Delete:hover  {
    transform: scale(1.2);
}


.createStoryText {
    position:absolute; top:280px;  left: 185px; z-index: 80; height: 380px;
    color: rgb(50, 53, 53);
    -webkit-box-reflect: below 120px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    overflow-y: scroll; height: 325px; width: 240px;
    
}